<!DOCTYPE html>
<html lang="en">

<head>
  <title>document</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/public/style.css" rel="stylesheet">
</head>

<body>
  <h1>FreeCodeCamp InfoSecurity</h1>
  <p>learning Information Security and How to better protect my websites and possible clients information also how to
    test if the information is actually secure using Python, helmetJS.</p>
  <h2>Test Taker and Learner</h2>
  <h3>Alex Walker</h3>
  <p>
    <a href="https://linkedin.com/in/alex-walker-florida" target="_blank" rel="noreferrer noopener">my linkedin
      account.</a>
  </p>
  <script src="/myApp.js" type="module" nonce="{{nonce}}"></script>
  <script src="/server.js" type="module" nonce="{{nonce}}"></script>
</body>

</html>